{% extends "blogs/base.html" %}
{% block content %}
    <div class="container mt-4 text-center">
        {% if form.errors %}
            <div class="alert alert-danger">
                Your username and password didn't match. Please try again.
            </div>
        {% endif %}
        <h2 class="display-4">Log In</h2>
        <form method="post" action="{% url 'users:login' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-primary" type="submit">Log In</button>
            <input type="hidden" name="next" value="{% url 'blogs:home' %}" />
        </form>
    </div>
{% endblock %}
